html{
    font-size: 62.5%;
}
body{
    border: 20px solid #bdc3c7;
    font-size: 2.0rem;
    max-width:700px;
    width: 80%;
    margin:30px auto;
    padding-left:20px;
    padding-right: 20px;
    font-family: Source Sans Pro;
}

#date{
    
    text-transform: uppercase;
    color: #3498db;
    letter-spacing: 3px;
    font-weight: 600;
}

.article{
    border-left: 3px solid #bdc3c7;
    padding-left: 10px;
}

.style1{
	border-top: 1px solid #8c8b8b;
}

h1{
    font-size: 4.0rem;
}