body {
    background-color: black;
}

.heading {
    border: 1px solid black;
    background: #2980b9;
    color: white;
    font-family: 'Raleway', sans-serif;
}

h1,
h2 {
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: #2980b9;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
}

button:hover,
button:active,
button:visited {
    color: white;
    background-color: #2980b9;
}

.center {
    text-align: center;
}

.newColors {
    margin-left: 30%;
}

#afterGameMessage {
    width: 30%;
    display: inline-block;
    text-align: center;
    color: #2980b9;
}

.middle {
    background: white;
    height: 30px;
}

.bottom {
    background: black;
    height: 100%;
    width: 600px;
    margin: 20px auto;
}

.Box {
    border-radius: 15%;
    padding-bottom: 30%;
    width: 30%;
    margin: 1.6%;
    float: left;
    transition: background, 0.6s;
    -webkit-transition: background, 0.6s;
    -moz-transition: background, 0.6s;
}