h1{
    text-align: center;
}

.tablettt{
    margin: 0 auto;
}

.first, .second{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding: 50px;
}

.second{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding: 50px;
}

.third{
    border-right: 2px solid black;
    padding: 50px;
}

.firstthird{
     border-bottom: 2px solid black;
    padding: 50px;
}

.secondthird{
     border-bottom: 2px solid black;
    padding: 50px;
}
